<div class="container">
    <div class="row">
        <div class="section-intro">
            <h1>{{quiz.name}}</h1>
            {{#each quiz.directions}}
                <p>{{this}}</p>
            {{/each}}
        </div>
        <div class="math-notes">
            {{#each quiz.notes}}
                <p>{{{this}}}</p>
            {{/each}}
        </div>
        <div class="section-content">
            <form action="/" method="POST">          
                {{#each quiz.content.questions}}
                        <div class="question" data-question-type="{{this.question-type}}">
                            <p class="question-question">{{{this.question}}}</p>
                            {{#if this.img}}
                                <img src="./img/math/{{this.img}}" alt="N/A" class="question-img">
                            {{/if}}
                            {{#each this.choices}}
                                <div class="multiple-choice answer"><input type="radio" name="q{{@../index}}" value="{{@index}}">{{{this}}}</div>
                            {{/each}}
                        </div>
                {{/each}} 
                <input type="submit" value="Submit">
            </form>       
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="timer"></div>
        </div>
    </div>
</div>