<div class="container">
    <div class="row">
        <div class="section-intro">
            <h1>{{quiz.display-name}}</h1>
            {{#each quiz.directions}}
                <p>{{this}}</p>
            {{/each}}
        </div>
        <div class="math-notes">
            {{#each quiz.notes}}
                <p>{{{this}}}</p>
            {{/each}}
            <hr>
        </div>
        <div class="text-left col-md-5 section-content">
            <form action="/{{quiz.name}}" method="POST">          
                {{#each quiz.content.questions}}
                        <div class="question" data-question-type="{{this.question-type}}">
                            {{#if this.img}}
                                <img src="./img/math/{{this.img}}" alt="N/A" class="math-question-img">
                            {{/if}}
                            <p class="question-question">{{this.question-number}}.) {{{this.question}}}</p>                            
                            {{#each this.choices}}
                                <div class="multiple-choice answer"><input type="radio" name="q{{@../index}}" value="{{@index}}">{{{this}}}</div>
                            {{/each}}
                        </div>
                {{/each}} 
                <input type="hidden" name="timer" value="{{quiz.time_allowed}}" id="timer">
                <input type="submit" value="Submit">
            </form> 
            <div id="timer-view"></div>
        </div>
    </div>
</div>