<div class="container">
    <div class="row">
        <div class="section-intro">
            <h1>{{quiz.display-name}}</h1>
            {{#each quiz.directions}}
                <p>{{this}}</p>
            {{/each}}
        </div>
        <form action="/{{quiz.name}}" method="POST">
        {{#each quiz.content}}
        <div class="section-content">      
                <div class="col-md-8 passage-container">
                    {{#each this.passage}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
                <div class="col-md-4 text-left passage-questions">
                    {{#each this.questions}}
                        <div class="question">
                            <p class="question-question">{{this.question-number}}. {{this.question}}</p>
                            {{#each this.choices}}
                            <div class="multiple-choice-answer"><input type="radio" name={{../question-number}} value="{{@index}}"><span class="answer-choice-text">{{this}}</span><sup class="mark-wrong">X</sup></div>
                            {{/each}}
                        </div>
                    {{/each}}                                        
                </div>                      
        </div>
        {{/each}}
            {{!-- TODO - add javascript that will create a timer and update the input to send this to the server on submit --}}
            {{!-- <input type="hidden" name="timer" value="{{quiz.time_allowed}}"> --}}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>