<div class="container">
    <div class="row">
        <div class="section-intro">
            <h1>{{quiz.display-name}}</h1>
            {{#each quiz.directions}}
                <p>{{this}}</p>
            {{/each}}
        </div>
        <form action="/{{quiz.name}}" method="POST">
        {{#each quiz.content}}
        <div class="section-content">      
                <div class="passage-content">
                    {{#each this.passage}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
                <div class="passage-questions">
                    {{#each this.questions}}
                        <div class="question">
                            <p class="question-question">{{this.question}}</p>
                            {{#each this.choices}}
                            <div class="multiple-choice-answer"><input type="radio" name="passage-{{../passage-ref}}-q{{@../index}}" data-passage={{../passage-ref}} value="{{@index}}"><span class="answer-choice-text">{{this}}</span><sup class="mark-wrong">X</sup></div>
                            {{/each}}
                        </div>
                    {{/each}}                                        
                </div>                      
        </div>
        {{/each}}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>